// Ruberoid
@font-face {
  src: url("../assets/fonts/Ruberoid/Ruberoid-300.woff2") format("woff2"),
    url("../assets/fonts/Ruberoid/Ruberoid-300.woff") format("woff");

  font-family: Ruberoid;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/Ruberoid/Ruberoid-400.woff2") format("woff2"),
    url("../assets/fonts/Ruberoid/Ruberoid-400.woff") format("woff");

  font-family: Ruberoid;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/Ruberoid/Ruberoid-500.woff2") format("woff2"),
    url("../assets/fonts/Ruberoid/Ruberoid-500.woff") format("woff");

  font-family: Ruberoid;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/Ruberoid/Ruberoid-600.woff2") format("woff2"),
    url("../assets/fonts/Ruberoid/Ruberoid-600.woff") format("woff");

  font-family: Ruberoid;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/Ruberoid/Ruberoid-700.woff2") format("woff2"),
    url("../assets/fonts/Ruberoid/Ruberoid-700.woff") format("woff");

  font-family: Ruberoid;
  font-weight: 700;
  font-style: normal;
}

// ProximaNova
@font-face {
  src: url("../assets/fonts/ProximaNova/ProximaNova-300.woff2") format("woff2"),
    url("../assets/fonts/ProximaNova/ProximaNova-300.woff") format("woff");

  font-family: ProximaNova;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/ProximaNova/ProximaNova-400.woff2") format("woff2"),
    url("../assets/fonts/ProximaNova/ProximaNova-400.woff") format("woff");

  font-family: ProximaNova;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/ProximaNova/ProximaNova-600.woff2") format("woff2"),
    url("../assets/fonts/ProximaNova/ProximaNova-600.woff") format("woff");

  font-family: ProximaNova;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/ProximaNova/ProximaNova-700.woff2") format("woff2"),
    url("../assets/fonts/ProximaNova/ProximaNova-700.woff") format("woff");

  font-family: ProximaNova;
  font-weight: 700;
  font-style: normal;
}
