$green-primary: #5ccd6a;
$green-secondary: #78c081;
$green-light: #54e165;
$green-dark: #9cd3a3;

$black: #495e4c;
$white: #ffffff;

$green-background: #d9fadd;

$box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36);

$Ruberoid: "Ruberoid", "ProximaNova", "Arial", sans-serif;
$Proxima: "ProximaNova", "Ruberoid", "Arial", sans-serif;
